{% extends 'userprofiles/academicadv_profile.html' %}
{% load crispy_forms_tags %}


{% block navitems %}

{% endblock navitems %}


{% block profile_body %}
    <br>
    <div class="container">
        <h1>Create new progress report</h1>
        <h2>to be filled in by the intern.</h2>
        <br>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success ml-2" type="submit">Save</button>
            <button onclick="history.back()" class="btn btn-danger ml-2" type="button">Cancel</button>
        </form>
        <br>
    </div>
    <br>
    <br>
    <br>
{% endblock profile_body %}


