{% extends 'userprofiles/employer_profile.html' %}
{% load static %}


{% block navitems %}
    <button onclick="history.back()" class="btn btn-outline-info ml-2" type="button">Back</button>

{% endblock navitems %}

{% block header_block %}

    <link rel="stylesheet" href="{% static 'css/employerViewsApplications.css' %}">

{% endblock header_block %}

{% block profile_body %}

    <div class="d-flex" id="wrapper" style="overflow-y: scroll;height: 600px;">
        <!-- Sidebar -->
        <div class="bg-light border-right vh-100" id="sidebar-wrapper">
            <div class="sidebar-heading">

                <strong><h3>Active Internships</h3></strong>

            </div>
            <div class="list-group list-group-flush overflow-auto h-100">

                {% for application in employer_view_active_internships %}
                    {% if application.has_started == True and application.has_ended == False and application.job_id.employer_id.user == user %}
                        <a href="#" id="application-sidebar-item" class="list-group-item
                    list-group-item-action
                    bg-light side_item">
                            <strong>
                                {{ application.student_id.user.first_name }}
                                {{ application.student_id.user.last_name }}</strong>
                            <p hidden>{{ application.pk }}</p>
                            <p>{{ application.job_id.title }}</p>
                        </a>

                    {% endif %}
                {% endfor %}
                <br>
            </div>
        </div>

        {% for application in employer_view_active_internships %}

            {% if application.has_started == True and application.has_ended == False and application.job_id.employer_id.user == user %}

                <div class="page-content-wrapper {{ application.student_id.user.first_name }}
{{ application.student_id.user.last_name }}-{{ application.pk }}"
                     style="display: none">
                    <div id="application-content" class="container-fluid application-content">
                        <br>
                        <div class="container">
                            <div class="Jumbotron">
                                <h1>{{ application.student_id.user.first_name }} {{ application.student_id.user.last_name }}</h1>
                                <h2>{{ application.job_id.title }}</h2>
                                <p>Started on {{ application.job_id.job_start_date }}</p>
                            </div>
                            <br>


                            <div class="container">
                                <div class="Jumbotron">
                                    <div class="row">
                                        <div class="col">
                                            <div class="card border-primary mb-3" style="max-width: 18rem;">
                                                <div class="card-header">View Job</div>
                                                <div class="card-body text-primary">
                                                    <p>View job details</p>
                                                    <div class="container">
                                                        <a href="{% url 'job_generic' application.job_id.pk %}"
                                                           class="no_underline ">
                                                            <button type="button" style="margin-left: 70px; margin-right:
                                                         80px" class="btn
                                                        btn-primary">
                                                                {{ application.job_id.title }}</button>
                                                        </a>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card border-primary mb-3" style="max-width: 18rem;">
                                                <div class="card-header">View Student Profile</div>
                                                <div class="card-body text-primary">
                                                    <p>Profile includes contact info, resume and more.</p>
                                                    <div class="container">
                                                        <a href="
{% url 'generic_student_profile' application.student_id.pk %}"
                                                           class="no_underline ">
                                                            <button type="button" style="margin-left: 80px" class="btn
                                                        btn-primary">
                                                                Profile
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                                                    <div class="card-header">End Job</div>
                                                    <div class="card-body text-primary">
                                                        <p>Internship done ? End it for the system to do the
                                                            necessary changes.</p>
                                                        <div class="container">
                                                            <a href="
{% url 'employer_ends_internship' application.pk %}"
                                                               class="no_underline ">
                                                                <button type="button" style="margin-left: 80px" class="btn
                                                        btn-primary">
                                                                    End
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-left: 25px" class="col">
                                                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                                                    <div class="card-header">Contact Student</div>
                                                    <div class="card-body text-primary">
                                                        <p>Use the portal's messaging system to contact the student.</p>
                                                        <div class="container">
                                                            {% if exists %}
                                                                <a href="
{% url 'message_home_page' user.pk %}"
                                                                   class="no_underline ">
                                                                    <button type="button" style="margin-left: 80px"
                                                                            class="btn
                                                        btn-primary">
                                                                        Message
                                                                    </button>
                                                                </a>


                                                            {% else %}

                                                                <a href="
{% url 'start_convo_student' application.student_id.user.username %}"
                                                                   class="no_underline ">
                                                                    <button type="button" style="margin-left: 80px"
                                                                            class="btn
                                                        btn-primary">
                                                                        Message
                                                                    </button>
                                                                </a>


                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>


                </div>

            {% endif %}

        {% endfor %}

    </div>

    <script src="{% static 'js/employerViewsApplications.js' %}"></script>


{% endblock profile_body %}