{% extends 'home.html' %}
{% load static %}

{% block content %}

    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0"
                     src="{{ generic_job.employer_id.company_logo.url }}" width="400" alt="..."></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">{{ generic_job.title }}</h1>
                <h3 class="font-weight-light">at {{ generic_job.employer_id.company_name }}</h3>
                <p>{{ generic_job.job_description }}</p>
                {% if user.is_student %}
                    {% if applied == 'F' %}
                        <a class="btn btn-primary btn-lg btn-block" href="
{% url 'student_applies' generic_job.pk %}">Apply</a>

                    {% else %}
                        <a class="btn btn-outline-success btn-lg btn-block" href="javascript:void(0)">Already Applied</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <h2>Qualifications</h2>
            <div class="card-body"><p class="text-white m-0">{{ generic_job.qualifications }}</p></div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Info</h2>
                        <p class="card-text"><strong>Department: </strong>{{ generic_job.department }}</p>
                        <p class="card-text"><strong>Start: </strong>{{ generic_job.job_start_date }}</p>
                        <p class="card-text"><strong>End: </strong>{{ generic_job.job_end_date }}</p>
                        <p class="card-text"><strong>Deadline: </strong>{{ generic_job.application_deadline }}</p>
                        <p class="card-text"><strong>Spots open:</strong> {{ generic_job.num_of_available_internships }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Interesting</h2>
                        <p class="card-text"><strong>Salary: </strong>{{ generic_job.salary_range }}</p>
                        <p class="card-text"><strong>Location: </strong>{{ generic_job.job_location }}</p>
                        <p class="card-text"><strong>Type: </strong>{{ generic_job.job_type }}</p>
                        <p class="card-text"><strong>Faculties: </strong>{{ generic_job.allowed_faculties }}</p>
                        <p class="card-text"><strong>Semesters: </strong>{{ generic_job.required_semesters }}</p>

                        </p>
                    </div>
                </div>
            </div>


            {#            <div class="col-md-4 mb-5">#}
            {#                <div class="card h-100">#}
            {#                    <div class="card-body">#}
            {#                        <h2 class="card-title">Apply</h2>#}
            {#                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex#}
            {#                            numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}


        </div>
    </div>


{% endblock content %}
