{% extends 'userprofiles/student_profile.html' %}


{% block navitems %}
    <button onclick="history.back()" class="btn btn-outline-info ml-2" type="button">Back</button>

{% endblock navitems %}

{% block profile_body %}

    <br>
    <div class="container">

        <div class="jumbotron">

            <h1>{{ student_reads_evaluatioon.progress_report_title }}</h1>
            <h2>Evaluation</h2>
            <br>
            <br>
            <p>{{ student_reads_evaluatioon.evaluation }}</p>
            <br>

        </div>
        <br>

    </div>



{% endblock profile_body %}




