{% extends 'home.html' %}
{% load static %}

{% block content %}
    <div class="container my-1">

        <div class="row">


            <div class="col-4">
                <br>
                <br>
                <br>
                <br>
                <br>

                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Filter</div>
                    <div class="card-body text-primary">

                        <form action="" method="get">
                            <label for="inputState">Required semesters</label>
                            <select id="inputState" class="form-control required_semester_class_box">
                                <option selected>Choose...</option>
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                            <div id="faculty_input">
                                <br>
                                <div class="fac_input_class">
                                    <label for="inputState">Faculty</label>
                                    <select id="inputState" class="form-control choosebox">
                                        <option selected>Choose...</option>
                                        <option>CS</option>
                                        <option>Business</option>
                                        <option>Engineering</option>
                                        <option>Design</option>
                                        <option>Architecture</option>
                                        <option>Pharmaceutical</option>
                                    </select>

                                </div>
                                <br>

                            </div>
                            <button id="filter_btn_add_fac" class="btn btn-outline-success" type="button">Add
                                faculty
                            </button>
                            <button id="searchbutton" class="btn btn-success" type="button">Search</button>


                        </form>


                    </div>
                </div>
            </div>


            <div class="col-8">
                <div class="p-5"><h2>Explore Internships near you</h2>
                    <br>
                    <div class="row">


                        {% for job in generic_job_view %}

                            {% if job.visibility_admin and job.visibility_fac_rep  and job.post_is_up %}

                                <div id="{{ job.pk }}" class="col-lg-4 job_box" style="display: block">
                                    <p hidden class="required_semester">{{ job.required_semesters }}</p>
                                    <p hidden class="faculty">{{ job.allowed_faculties }}</p>

                                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                                        <div class="card-header"><a href="javascript:void(0)"
                                                                    style="color: black; background-color : transparent;
                                                                                                text-decoration:none"></a>
                                            {{ job.employer_id.company_name }}</div>
                                        <div class="card-body">
                                            <h5 class="card-title"><a href="{% url 'job_generic' job.pk %}"
                                                                      style="color: white; background-color : transparent;
                                                                                                  text-decoration:none">{{ job.title }}</a>
                                            </h5>
                                            <p class="card-text maxle">{{ job.job_description|slice:":50" }}...</p>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}

                        {% endfor %}

                    </div>

                </div>
            </div>

        </div>

    </div>

    <script src="{% static 'js/filter_jobs.js' %}"></script>
{% endblock content %}
