{% extends 'userprofiles/student_profile.html' %}
{% load static %}

{% block profiletyple %}Student{% endblock profiletyple %}

{% block navitems %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'student_profile' showResumeHomePageView.pk %}">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'resumehome' showResumeHomePageView.pk %}">Resume</a>
    </li>
{% endblock navitems %}

{% block profile_body %}


    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">

                {% if showResumeHomePageView.has_cv %}
                    <li class="nav-item">
                        <a id="showNav" class="nav-link active" aria-current="true" href="javascript:void(0)">Show</a>
                    </li>
                    <a id="editNav" class="nav-link" href="javascript:void(0)">Edit</a>
                    </li>
                    <li class="nav-item">
                        <a id="deleteNav" class="nav-link"
                           href="javascript:void(0)">Delete</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true"
                           href="javascript:void(0)">Create</a>
                    </li>
                {% endif %}

            </ul>
        </div>
        <div id="resume_home_body" class="card-body">

            {% if showResumeHomePageView.has_cv %}
                <br>
                <br>
                <br>
                <div id="showDiv">
                    <h5 class="card-title">See your current resume</h5>
                    <p class="card-text">Ps. You can download your resume as a PDF!</p>
                    <a href="{% url 'showresume' showResumeHomePageView.pk %}" class="btn btn-primary">Show resume</a>

                </div>
                <div id="editDiv" style="display: none">
                    <h5 class="card-title">Edit your resume</h5>
                    <p class="card-text">Always keep your resume up to date!</p>
                    <a href="{% url 'editresume' showResumeHomePageView.pk %}" class="btn btn-primary">Edit resume</a>
                </div>
                <div id="deleteDiv" style="display:none;">
                    <h5 class="card-title">Delete your resume</h5>
                    <p class="card-text">Want a do-over? Delete your resume and start over.</p>
                    <a href="{% url 'deleteresume' showResumeHomePageView.pk %}" class="btn btn-primary">Delete
                        resume</a>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            {% else %}
                <br>
                <br>
                <br>
                <h5 class="card-title">Create your own personal resume</h5>
                <p class="card-text">Potential employers will be able to view your profile and access it.</p>
                <a href="{% url 'createresume' showResumeHomePageView.user.pk %}" class="btn btn-primary">Create
                    Resume</a>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            {% endif %}

        </div>
    </div>

    <script src="{% static 'js/cvhome.js' %}"></script>
{% endblock profile_body %}