{% extends 'cvbuilder/resumehome.html' %}
{% load crispy_forms_tags %}

{% block profiletyple %}Student{% endblock profiletyple %}

{% block navitems %}

{% endblock navitems %}


{% block profile_body %}
    <br>
    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success ml-2" type="submit">Save</button>
            <button onclick="history.back()" class="btn btn-danger ml-2" type="button">Cancel</button>
        </form>
        <br>
    </div>
    <br>
    <br>
    <br>
{% endblock profile_body %}
