{% extends 'base.html' %}

{% block title %}Messages{% endblock title %}

{% block content %}

    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Messages</h2>

        {% if conversation_list_view %}


            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

                {% for convo in conversation_list_view %}

                    <div class="col">
                        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">

                                <a class="link-warning no_underline" href="
{% url 'view_convo_page' convo.user1.pk convo.user2.pk %}">
                                    <p
                                            class="fw-bold">{{ convo.user1.username }} -
                                        {{ convo.user2.username }}</p></a>


                                <small>Started on: {{ convo.started_on }}</small>
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="d-flex align-items-center me-3">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>








        {% else %}

            <br>
            <h2>No messages to display...</h2>

        {% endif %}

    </div>

{% endblock content %}


