{% extends 'base.html' %}

{% block header_block %}{% endblock header_block %}

{% block body_content %} {% endblock body_content %}
{% block content %}

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Uh oh...</h1>
            <p class="col-md-8 fs-4">Seems like you're trying to access something that isn't yours.</p>
            <a class="no_underline" href="{% url 'home' %}">
                <button class="btn btn-primary btn-lg" type="button">Head to the homepage</button>
            </a>
        </div>
    </div>

{% endblock content %}

