{% extends 'base.html' %}

{% block title %}Help{% endblock title %}

{% block content %}

    <div class="container">
        <br>
        <br>
        <br>
        <h1>Need help ?</h1>
        <h3>Contact us at <a class="no_underline" href="javascript:void(0)">admin@faculty.giu-uni.de</a> or have a look at our faq
            section.</h3>
        <br>

        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        What is an Industrial Internship ?
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Industry based internships enriches business education by connecting theory and practice. It
                        deepens understanding of analytical concepts and tools, builds confidence in their use, and
                        hones skills essential for their successful application. Normally those Internships take place
                        at the end of a student's bachelor or master. <br> <strong>For more info have a look <a
                            class="no_underline"
                            href="https://www.indiatoday.in/education-today/featurephilia/story/10-reasons-for-industry-based-internship-1039220-2017-09-06">here </a>.</strong>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        What is the GIU ?
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        The German International University (GIU) is a German University operating within the framework
                        of Cultural Agreements between the Federal Republic of Germany and the Arab Republic of Egypt.
                        <br> <strong> For general inquires: info@giu-uni.de</strong>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                        What can I expect as an employer ?
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        As an employer you can expect to deal with the most talented, hardworking and skilled students
                        in Cairo who will not only enrich your company with their enthusiasm and dedication but also
                        stand out among your core teams.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                        What can I expect as a student ?
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-collapseFour"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">As a student you can expect a set of dedicated faculty members who will
                        guide and help you in your journey to fulfill your internship dreams. You can also expect to see
                        top notch companies from all sectors seeking to find students like you!
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

{% endblock content %}