{% extends 'userprofiles/profile_base.html' %}

{% block profiletyple %}Student{% endblock profiletyple %}

{% block navitems %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'student_profile' student_profile_view.pk %}">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'resumehome' student_profile_view.user.pk %}">Resume</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Applications</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Active Internships</a>
    </li>

{% endblock navitems %}

{% block profile_body %}


    <br>
    <div class="container">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">{{ student_profile_view.user.username }}</h1>

                <p>Name: {{ student_profile_view.user.first_name }} {{ student_profile_view.middle_name }}
                    {{ student_profile_view.user.last_name }}</p>
                <p>Age: {{ student_profile_view.age }}</p>
                <p>Email: {{ student_profile_view.user.email }}</p>
                <p>Address: {{ student_profile_view.student_address }}</p>
                <p>GIU ID: {{ student_profile_view.student_university_id }}</p>
                <p>Birthdate: {{ student_profile_view.birthdate }}</p>
                <p>Semester: {{ student_profile_view.semester }}</p>
                <p>Faculty: {{ student_profile_view.faculty }}</p>
                <p>Major: {{ student_profile_view.major }}</p>
                <p>Gpa: {{ student_profile_view.gpa }}</p>
                <p><a class="no_underline" href="{% url 'student_edit' student_profile_view.pk %}">Edit</a> |
                    <a class="no_underline" href="{% url 'password_change' %}">Change Password</a> |
                    <a class="no_underline" href="{% url 'user_delete' student_profile_view.pk %}">Delete</a></p>

            </div>
        </div>
    </div>
    <br>
    <br>

{% endblock profile_body %}


